{% extends 'base.html' %}

{% comment %}
    Esta vista recibe: form, error
{% endcomment %}


{% block title %}Contratos Arrendamiento{% endblock %}

{% block head %}
{% endblock %}
{% block content %}
    <h1>Gestión de Contratos</h1>
    <!-- Filtro -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:0;width:300px;" id="mySidebar"><br>
        <div class="w3-container">
          <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
            <i class="fa fa-remove"></i>
          </a>
          {% load static %}
          <img src="{% static 'css/logo.png' %}" style="width:45%;" class="w3-round"><br><br>
          <h4><b>TIPOS DE CONTRATOS</b></h4>
          <p class="w3-text-grey">Centro Comercial Lighthouse Creations S.A de C.V</p>
        </div>
        <div class="w3-bar-block">
          <a href="{% url 'contratosArrendamiento' %}" id="arrendamientosBtn" class="w3-bar-item w3-button w3-padding"><i class="fa fa-building fa-fw w3-margin-right"></i>ARRENDAMIENTOS</a>
          <a href="{% url 'contratosPersonal' %}" id="personalBtn" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user fa-fw w3-margin-right"></i>PERSONAL</a> 
          <a href="{% url 'contratosServicio' %}" id="serviciosBtn" class="w3-bar-item w3-button w3-padding"><i class="fa fa-wifi fa-fw w3-margin-right"></i>SERVICIOS</a> 
  
        </div>
      </nav>
    
    <a href="{{ request.path }}crear/">Nuevo Contrato</a>

    <h2>Filtrar</h1>
    <form method="POST" class="form3">
        {% csrf_token %}
        {{form}}
        <button>
            Filtrar
        </button>
    </form> 
    
    <!-- Consulta Contratos -->

    <table class="tab">
        <thead>
            <tr>
                <th>Contrato</th>
                <th>Tipo</th>
                <th>Contratante</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for contrato in contratos %}
            <tr>
                <td>{{ contrato.contrato.contratoId }}</td>
                <td>{{ contrato.tipo }}</td>
                {% if contrato.tipo == "Empresa" or contrato.tipo == "Arrendamiento" %}
                <td>{{ contrato.contratante.nombre }}</td>
                {% else %}
                <td>{{ contrato.contratante.persona.nombre }}</td>
                {% endif %}
                <td>{{ contrato.contrato.fechaInicio }}</td> 
                <td>{{ contrato.contrato.fechaFin }}</td>
                <td>{{ contrato.contrato.aprobado }}</td>
                <td>
                    <a href="{% url 'verContrato' contrato.contrato.contratoId %}">Ver</a>
                    {% if esAdministrador %}
                        {% if contrato.contrato.aprobado %}
                            <a href="{% url 'desaprobarContrato' contrato.contrato.contratoId %}">Desaprobar</a>
                        {% else %}
                            <a href="{% url 'aprobarContrato' contrato.contrato.contratoId %}">Aprobar</a>
                        {% endif %}
                    {% endif %}
                    {% if contrato.contrato.contratador.user == user and not esAdministrador %}
                        <a href="{% url 'editarContrato' contrato.contrato.contratoId %}">Editar</a>
                    {% endif %}

                    {% if esAdministrador %}
                        <a href="{% url 'editarContrato' contrato.contrato.contratoId %}">Editar</a>
                        <a href="{% url 'eliminarContrato' contrato.contrato.contratoId %}">Eliminar</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
