<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stilo.css' %}">
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
</head>
    {% block head %}{% endblock %}
    
    <body>

        <nav>
            <a href="{% url 'home' %}">Home</a>
            <div>
                {% if user.is_authenticated %}
                    {% if esAdministrador %}
                    <a href="/admin/">Administrador</a>
                    {% endif %}
                    <a href="{% url 'logout' %}">Cerrar sesión</a>
                {% else %}
                    <!-- Sin sesión.-->
                    {% if not request.path == '/login/' %}
                        <a href="{% url 'login' %}">Iniciar sesión</a>
                    {% endif %}
                {% endif %}
            </div>
        </nav>
    
        {% block content %}{% endblock %}
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.datepicker').datepicker();
        });
    </script>
    </main>
</body>
</html>
