
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <div>
                {% if user.is_authenticated %}
                    {% if is_admin %}
                    <li><a href="/admin/">Admin</a></li>
                    {% endif %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <!-- Sin sesión.-->
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}

                </div>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
