


    {% extends "base.html" %}

{% block content %}

<div class="container">
    <a href="#" class="button">Compras</a>
    <a href="{% url 'contratosArrendamiento' %}" class="button active">Contratos</a>
    <a href="#" class="button">Marketing</a>
    <a href="#" class="button">Ventas</a>
    <a href="#" class="button">Contabilidad</a>
    <a href="#" class="button">Presupuesto</a>
    <a href="#" class="button">Inventario</a>
    <a href="#" class="button">Recursos humanos</a>
    <a href="#" class="button">Gestion de Proyectos</a>
</div>
{% endblock %}
